<div class="container">
  <div class="row mt-5">
    <div class="col-xl-4"></div>
    <div class="title-bg-color col-xl-4 pt-2 text-center">
      <h2><b>ログイン</b></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 px-5 my-5 shadow bg-body rounded">
        <div class="card-body mt-4">
          <%= form_with model: @admin, url: admin_session_path do |f| %>
            <table class="table table-borderless">
              <tr>
                <th><%= f.label "メールアドレス", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "パスワード", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>
                    <%= f.label "会員情報を保存" %><br>
                  <% end %>
                  <%= f.submit "ログイン", class: 'btn btn-outline-warning btn-lg shadow bg-body rounded', style: "width: 130px;" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>