<%= image_tag("会員一覧暖簾.svg", alt: "暖簾画像", class: "img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 my-5 py-1 shadow bg-body rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-12 mb-3">
              <ul class="nav nav-tabs">
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' unless params[:follower] %>" aria-current="page" href="<%= member_follow_path(@member) %>">フォロー&#40;<%= @member.followings.count %>&#41;</a>
                </li>
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' if params[:follower] %>" aria-current="page" href="<%= member_follow_path(@member.id, follower: "true") %>">フォロワー&#40;<%= @member.followers.count %>&#41;</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <% if @members.present? %>
              <% @members.each do |member| %>
                <%= link_to member_path(member) do %>
                  <div class="card text-center w-100 my-3 mx-3 shadow bg-body rounded">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-xl-4">
                          <%= image_tag(member.get_profile_image(100, 100), class: "rounded-circle border border-warning") %>
                        </div>
                        <div class="col-xl-8">
                          <div class="row">
                            <div class="col-xl-12">
                              <p><%= member.nickname %></p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-12">
                              <p>
                                投稿数&nbsp;&#0058;&nbsp;<%= member.ramen_noodles.count %>&nbsp;
                                フォロー数&nbsp;&#0058;&nbsp;<%= member.followings.count %>&nbsp;
                                フォロワー数&nbsp;&#0058;&nbsp;<%= member.followers.count %>&nbsp;
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class="col-xl-12 my-5 text-center">
                <strong>ユーザーはいません</strong>
              </div>  
            <% end %>
          </div>
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
              <%= paginate @members %>
            </div>
            <div class="col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>