<%= image_tag("public_top.jpg", alt: "ラーメン屋の暖簾画像", class: "img-fluid") %>
<div class="container my-5">
  <div class="row mb-5">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h2 class="top-post my-3"><strong>新着投稿</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <div class="col-xl-10 mx-auto shadow p-3 bg-body rounded">
      <div class="swiper new">
        <div class="swiper-wrapper">
          <% @ramen_noodles.each do |ramen_noodle| %>
            <div class="swiper-slide">
              <%= link_to ramen_noodle_path(ramen_noodle) do %>
                <%= image_tag(ramen_noodle.post_image, class: 'img-fluid d-block mx-auto', style: 'width: 100%; height: auto; object-fit: cover;') %>
                <div class="row">
                  <div class="col-xl-12 mx-2 mt-2 mb-4">
                    <div id="average_rating" class="text-start">
                      <span id="average_rating_ranking_<%= ramen_noodle.id %>"></span>
                      <%= ramen_noodle.average_rating.floor(1) %>
                    </div>
                    <div class="title my-3">
                      &#149;<%= ramen_noodle.title %>
                    </div>
                    <i class="fa-solid fa-thumbs-up fa-xl" style="color: #ff0000;"></i>&nbsp;&#058;&nbsp;<%= ramen_noodle.favorites.count %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa-regular fa-comment fa-xl" style="color: #ff0000;"></i>&nbsp;&#058;&nbsp;<%= ramen_noodle.ramen_noodle_comments.count %>
                    <div class="profile text-center mt-3">
                      <%= image_tag(ramen_noodle.member.get_profile_image(50, 50), class: "rounded-circle mr-2 border-warning") %>
                      <%= ramen_noodle.member.nickname %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>  
        <!-- ページネーションの要素 -->
        <div class="swiper-pagination new-pagination"></div>
        <!-- ナビゲーションボタン （前、次） -->
        <div class="swiper-button-prev new-button-prev"></div>
        <div class="swiper-button-next new-button-next"></div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-xl-9"></div>
    <div class="col-xl-2">
      <%= link_to "投稿一覧", ramen_noodles_path, class: "btn btn-outline-warning shadow bg-body rounded rounded-pill", style: "width: 155px; height: 50px;" %>
    </div>
    <div class="col-xl-1"></div>
  </div>
  <div class="row mb-5">
    <div class="col-xl-4"></div>
    <div class="btntop col-xl-4">
      <h2 class="top-post my-3"><strong>高評価TOP5</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <div class="col-xl-10 mx-auto shadow p-3 bg-body rounded">
      <div class="swiper ranking">
        <div class="swiper-wrapper">
          <% @top_ramen_noodles.each do |ramen_noodle| %>
            <div class="swiper-slide">
              <%= link_to ramen_noodle_path(ramen_noodle) do %>
                <%= image_tag(ramen_noodle.post_image, class: 'img-fluid d-block mx-auto', style: 'width: 100%; height: auto; object-fit: cover;') %>
                  <div class="row">
                    <div class="col-xl-12 mx-2 mt-2 mb-4">
                      <div id="average_rating">
                        <span id="average_rating_top_<%= ramen_noodle.id %>"></span>
                        <%= ramen_noodle.average_rating.floor(1) %>
                      </div>
                      <li class="title my-3">
                        <%= ramen_noodle.title %>
                      </li>
                      <i class="fa-solid fa-thumbs-up fa-xl" style="color: #ff0000;"></i>&nbsp;&#058;&nbsp;<%= ramen_noodle.favorites.count %>&nbsp;&nbsp;&nbsp;&nbsp;
                      <i class="fa-regular fa-comment fa-xl" style="color: #ff0000;"></i>&nbsp;&#058;&nbsp;<%= ramen_noodle.ramen_noodle_comments.count %>
                      <div class="profile text-center mt-3">
                        <%= image_tag(ramen_noodle.member.get_profile_image(50, 50), class: "rounded-circle mr-2 border-warning") %>
                        <%= ramen_noodle.member.nickname %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>  
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination ranking-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev ranking-button-prev"></div>
      <div class="swiper-button-next ranking-button-next"></div>
    </div>  
  </div>
  <div class="row mt-5">
    <div class="col-xl-9"></div>
    <div class="col-xl-2">
      <%= link_to "高評価順投稿一覧", ramen_noodles_path(average_rating_count: "true"), class: "btn btn-outline-warning shadow bg-body rounded rounded-pill", style: "width: 155px; height: 50px;" %>
    </div>
    <div class="col-xl-1"></div>
  </div>
</div>


<% @ramen_noodles.each do |ramen_noodle| %>
  <script>
    $(document).on('turbolinks:load', function() {
      $('#average_rating_ranking_<%= ramen_noodle.id %>').empty();
      var elem = document.querySelector('#average_rating_ranking_<%= ramen_noodle.id %>');
      if (elem == null) return;
      var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'ramen_noodle[difficulty_rating]',
        score: "<%= ramen_noodle.average_rating %>"
      };
      raty(elem, opt);
    });
  </script>
<% end %>


<% @top_ramen_noodles.each do |ramen_noodle| %>
  <script>
    $(document).on('turbolinks:load', function() {
      $('#average_rating_top_<%= ramen_noodle.id %>').empty();
      var elem = document.querySelector('#average_rating_top_<%= ramen_noodle.id %>');
      if (elem == null) return;
      var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'ramen_noodle[difficulty_rating]',
        score: "<%= ramen_noodle.average_rating %>"
      };
      raty(elem, opt);
    });
  </script>
<% end %>


<script>
  // Swiperを実行(初期化)
  $(document).on('turbolinks:load', function() {
    let swiper = new Swiper('.new',
      {
        loop: true,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.new-pagination',
        },
        navigation: {
          nextEl: '.new-button-next',
          prevEl: '.new-button-prev',
        }
      }
    );
  });
</script>

<script>
  // Swiperを実行(初期化)
  $(document).on('turbolinks:load', function() {
    let swiper = new Swiper('.ranking',
      {
        loop: true,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.ranking-pagination',
        },
        navigation: {
          nextEl: '.ranking-button-next',
          prevEl: '.ranking-button-prev',
        }
      }
    );
  });
</script>