<% if members.present? %>
  <% members.each do |member| %>
    <% unless member.guest_member? || member == current_member || !member.is_active %>
      <div class="col-12 col-md-4 my-3">
        <%= link_to member_path(member) do %>
          <div class="card w-100 shadow bg-body rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-xl-4 pt-2 text-center">
                  <%= image_tag(member.get_profile_image(100, 100), class: "img-fluid rounded-circle border border-warning") %>
                </div>
                <div class="col-12 col-xl-8 mt-3 mt-xl-0">
                  <div class="row">
                    <div class="col-12 text-left">
                      <b><%= member.nickname %></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-left">
                      投稿数&nbsp;&#0058;&nbsp;<%= member.ramen_noodles.count %>&nbsp;<br>
                      フォロー数&nbsp;&#0058;&nbsp;<%= member.followings.count %>&nbsp;<br>
                      フォロワー数&nbsp;&#0058;&nbsp;<%= member.followers.count %>&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="col-12 my-5 text-center">
    <strong>会員がいません</strong>
  </div>
<% end %>