<%= image_tag("会員一覧暖簾.svg", class: "img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 px-4 my-5 shadow bg-body rounded">
        <div class="card-body mt-3">
          <div class="row">
            <div class="col-xl-12 mb-3">
              <ul class="nav nav-tabs">
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' unless params[:old] || params[:followed_count] || params[:ramen_noodle_count] %>" aria-current="page" href="<%= members_path %>">登録順(新)</a>
                </li>
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' if params[:old] %>" aria-current="page" href="<%= members_path(old: "true") %>">登録順(古)</a>
                </li>
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' if params[:followed_count] %>" aria-current="page" href="<%= members_path(followed_count: "true") %>">フォロワーが多い順</a>
                </li>
                <li class="nav-sort">
                  <a class="nav-link <%= 'active' if params[:ramen_noodle_count] %>" aria-current="page" href="<%= members_path(ramen_noodle_count: "true") %>">投稿が多い順</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <%= render "public/members/index", members: @members %>
          </div>
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
              <%= paginate @members %>
            </div>
            <div class="col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>