<%= image_tag("マイページ暖簾.svg", class: "img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 pr-5 my-5 shadow bg-body rounded">
        <div class="card-body">
          <% unless @member.guest_member? %>
            <div class="row">
              <div class="col-xl-4">
                <%= image_tag(@member.get_profile_image(300, 300), class: "rounded-circle border border-warning mt-4 mb-5") %>
              </div>
              <div class="col-xl-8 mt-5">
                <table class="table table-borderless">
                  <tr>
                    <th><label class="form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center">名前</label></th>
                    <td class="text-center pt-4"><b><%= @member.name %></b></td>
                  </tr>
                  <tr>
                    <th><label class="form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center">サイト表示名</label></th>
                    <td class="text-center pt-4"><b><%= @member.nickname %></b></td>
                  </tr>
                  <tr>
                    <th><label class="form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center">ひとこと</label></th>
                    <td class="text-center pt-4"><b><%= @member.comment %></b></td>
                  </tr>
                  <tr>
                    <th><label class="form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center">メールアドレス</label></th>
                    <td class="text-center pt-4"><b><%= @member.email %></b></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row mb-4 pr-1">
              <div class="col-xl-3">
                <%= link_to "会員情報編集", edit_member_registration_path, class: "btn btn-outline-warning btn-lg shadow bg-body rounded", style: "width: 200px;" %>
              </div>
              <div class="col-xl-3">
                <%= link_to "投稿一覧", ramen_noodles_path(mypage_ramen_noodle: "true"), class: "btn btn-outline-warning btn-lg shadow bg-body rounded", style: "width: 200px;" %>
              </div>
              <div class="col-xl-3">
                <%= link_to "いいねした投稿", ramen_noodles_path(mypage_ramen_noodle_favorite: "true"), class: "btn btn-outline-warning btn-lg shadow bg-body rounded", style: "width: 200px;" %>
              </div>
              <div class="col-xl-3">
                <%= link_to member_follow_path(@member.id, mypage_followings: "true"), class: "btn btn-outline-warning btn-lg shadow bg-body rounded", style: "width: 290px;" do %>
                  フォロー&#40;<%= @member.followings.count %>&#41; / フォロワー&#40;<%= @member.followers.count %>&#41;
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="row my-5 text-center">
              <div class="col-xl-2"></div>
              <div class="col-xl-8">
               <h4>
                 現在、<b>"ゲスト会員"</b>としてログインしています。<br>
                 全ての機能をご利用になるには、新規会員登録が必要です。
               </h4>
              </div>
              <div class="col-xl-2"></div>
            </div>
            <div class="row mb-5">
              <div class="col-xl-2"></div>
              <div class="col-xl-8 text-center">
                <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "btn btn-outline-warning btn-lg mb-3 shadow bg-body rounded", style: "width: 200px;" %>
                <p>※新規会員登録をする場合は、ログアウトをしてください</p>
              </div>
              <div class="col-xl-2"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>