<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center w-100 my-5 shadow bg-body rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4">
              <%= image_tag(@member.get_profile_image(300, 300), class: "rounded-circle border border-warning my-5") %>
            </div>
            <div class="col-xl-8">
              <div class="row my-3">
                <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded">サイト表示名</div>
                <div class="col-xl-7"><%= @member.nickname %></div>
              </div>
              <div class="row my-3">
                <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded">ひとこと</div>
                <div class="col-xl-7"><%= @member.comment %></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
              <% if current_member && current_member != @member %>
                <% if current_member.following?(@member) %>
                  <%= link_to "フォローを外す", member_relationships_path(@member.id), method: :delete, class: "btn btn-info" %>
                <% else %>
                  <%= link_to "フォローする", member_relationships_path(@member.id), method: :post, class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
            <div class="col-xl-4"></div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <%= link_to "投稿一覧", ramen_noodles_path(member_ramen_noodle: "true", id: @member.id), class: "btn btn-outline-warning shadow bg-body rounded" %>
            </div>
            <div class="col-xl-4">
              <%= link_to "いいねした投稿", ramen_noodles_path(member_ramen_noodle_favorite: "true", id: @member.id), class: "btn btn-outline-warning shadow bg-body rounded" %>
            </div>
            <div class="col-xl-4">
              <%= link_to member_follow_path(@member.id, member_followings: "true"), class: "btn btn-outline-warning shadow bg-body rounded mx-1" do %>
                フォロー&#40;<%= @member.followings.count %>&#41; / フォロワー&#40;<%= @member.followers.count %>&#41;
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>