<%= image_tag("退会確認暖簾.svg", alt: "暖簾画像", class: "screen_title img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card text-center w-100 my-5 shadow bg-body rounded">
        <div class="card-body my-4">
          <%= image_tag("退会確認画面注意マーク.svg", class: "img-fluid mb-4", style: 'width: 80px; height: auto;') %>
          <h2 class="card-title">
            <strong>本当に退会しますか？</strong>
          </h2>
          <p class="card-text">
            退会すると、下記機能の情報が削除され、ご利用できなくなります。<br>
            ※退会後でも他会員の投稿は閲覧できます
          </p>
          <p class="card-text">
            <strong>
              ・投稿機能<br>
              ・コメント機能<br>
              ・フォロー機能<br>
              ・いいね機能<br>
            </strong>
          </p>
          <p class="card-text">
            <h5><strong style="color: red;">※この操作は、取り消せません</strong></h5>
          </p>
          <% unless @member.guest_member? %>
            <%= link_to "退会しない", edit_member_registration_path, class: "btn btn-outline-warning btn-lg mr-3 shadow bg-body rounded", style: "width: 150px;" %>
            <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-outline-danger btn-lg ml-3 shadow bg-body rounded", style: "width: 150px;", data: { confirm: "本当に退会しますか?" } %>
          <% else %>
            <%= link_to "退会しない", edit_member_registration_path, class: "btn btn-outline-warning btn-lg mr-3 mb-3 shadow bg-body rounded", style: "width: 150px;" %>
            <%= link_to "退会する", withdraw_path, method: :patch, class: "guest_button btn btn-outline-danger btn-lg ml-3 mb-3 shadow bg-body rounded", style: "width: 150px;", data: { confirm: "本当に退会しますか?" }, id: "unsubscribe_member_button" %><br>
            <strong>※ゲスト会員でログインの場合、退会することはできません</strong>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  document.getElementById("unsubscribe_member_button").addEventListener("click", function(event){
    event.preventDefault(); // デフォルトのイベントをキャンセル
    this.disabled = true; // ボタンを非活性にする
  });
</script>