
<script>
  $('.average_taste_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[taste_rating]',
    half: true,
  });
</script>



<%= @taste_rating %>：<%= @ramen_noodles.average(:taste_rating).to_f.round(1) %>
<div class="average_taste_rating" data-score=<%= @ramen_noodles.average(:taste_rating) %>></div> 

<th class="table__col1">味</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :taste_rating %></div></td>
