<!--jquery発火イベントを記載-->
<script>
  $('.average_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[average_rating]', # average_ratingカラムへ保存
    half: true, # 星半分の入力
  });
</script>
<script>
  $('.average_taste_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[taste_rating]',
    half: true,
  });
</script>
<script>
  $('.average_cook_time_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[cook_time_rating]',
    half: true,
  });
</script>
<script>
  $('.average_process_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[process_rating]',
    half: true,
  });
</script>
<script>
  $('.average_difficulty_rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'ramen_noodle[difficulty_rating]',
    half: true,
  });
</script>

<%# 平均点を算出し、round関数で切り上げ %>
<%= @average_rating %>：<%= @ramen_noodles.average(:average_rating).to_f.round(1) %>
<%# 評価数を星に置き換える %>
<div class="average_rating" data-score=<%= @ramen_noodles.average(:average_rating) %>></div>

<th class="table__col1">総合評価</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :average_rating %></div></td>

<%= @taste_rating %>：<%= @ramen_noodles.average(:taste_rating).to_f.round(1) %>
<div class="average_taste_rating" data-score=<%= @ramen_noodles.average(:taste_rating) %>></div> 

<th class="table__col1">総合評価</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :taste_rating %></div></td>

<%= @cook_time_rating %>：<%= @ramen_noodles.average(:cook_time_rating).to_f.round(1) %>
<div class="average_cook_time_rating" data-score=<%= @ramen_noodles.average(:cook_time_rating) %>></div> 

<th class="table__col1">総合評価</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :cook_time_rating %></div></td>

<%= @process_rating %>：<%= @ramen_noodles.average(:process_rating).to_f.round(1) %>
<div class="average_process_rating" data-score=<%= @ramen_noodles.average(:process_rating) %>></div> 

<th class="table__col1">総合評価</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :process_rating %></div></td>

<%= @difficulty_rating %>：<%= @ramen_noodles.average(:difficulty_rating).to_f.round(1) %>
<div class="average_difficulty_rating" data-score=<%= @ramen_noodles.average(:difficulty_rating) %>></div> 

<th class="table__col1">総合評価</th>
<td class="table__col1">  <div class="field" id="star"><%= f.label :difficulty_rating %></div></td>

<%= render partial: "ramen_noodles/form_rate", locals: { ramen_noodle: @ramen_noodle } %>
