<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card w-100 my-5 shadow bg-body rounded">
        <div class="card-body">
          <div class="row">
            <% @ramen_noodles.each_with_index do |ramen_noodle, index| %>
              <div class="col-md-6 mb-3">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                  <div class="row">
                    <% if index.even? %>
                      <% if (index / 2).even? %>
                        <div class="col-md-4 order-0 order-md-0">
                      <% else %>
                        <div class="col-md-4 order-0 order-md-1">
                      <% end %>
                    <% else %>
                      <% if (index / 2).even? %>
                        <div class="col-md-4 order-0 order-md-1">
                      <% else %>
                        <div class="col-md-4 order-0 order-md-0">
                      <% end %>
                    <% end %>
                    <%= image_tag(ramen_noodle.post_image, class: 'img-fluid', style: 'width: 100%; height: 100%; object-fit: cover;') %>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="profile text-center">
                          <%= image_tag(ramen_noodle.member.get_profile_image(50, 50), class: "rounded-circle mr-2") %><%= ramen_noodle.member.nickname %>
                        </div>
                        <ul class="title my-3">
                          <li><%= ramen_noodle.title %></li>
                        </ul>
                        <div id="average_rating">
                          <span id="average_rating_<%= ramen_noodle.id %>"></span>
                          <%= ramen_noodle.average_rating %>
                        </div>
                        <div class="action">
                          ♡ / 📄
                        </div>
                      </div>
                    </div>
                        </div>
                        </div>
                        </div>
                        </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#average_rating_<%= ramen_noodle.id %>');
    if (elem == null) return;
    // elem.innerHTML = ""
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= ramen_noodle.average_rating %>"
    };
    raty(elem, opt);
  });
</script>

<!--タグリスト-->
<!--  <%# @tag_list.each do |list|%>-->
<!--    <i class="fa-sharp fa-solid fa-tag"></i>-->
<!--    <%#=link_to list.name,search_tag_path(workout_tag_id: list.id) %>-->
<!--    <%#="(#{list.post_workouts.count})" %>-->
<!--  <%# end %>-->