<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card w-100 my-5 shadow bg-body rounded">
        <div class="card-body">
          <div class="row">
            <%= render "public/ramen_noodles/index", ramen_noodles: @ramen_noodles %>
          </div>
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
              <%= paginate @ramen_noodles %>
            </div>
            <div class="col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% @ramen_noodles.each do |ramen_noodle| %>
  <script>
    $(document).on('turbolinks:load', function() {
      $('#average_rating_<%= ramen_noodle.id %>').empty();
      var elem = document.querySelector('#average_rating_<%= ramen_noodle.id %>');
      if (elem == null) return;
      var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'ramen_noodle[difficulty_rating]',
        score: "<%= ramen_noodle.average_rating %>"
      };
      raty(elem, opt);
    });
  </script>
<% end %>