<div class="container">
  <div class="row">
    <!--<div class="col-xl-12">-->
      <div class="card text-center w-100 mb-3">
        <div class="card-body">
          <%= form_with model: @ramen_noodle, url: ramen_noodles_path, method: :post do |f| %>
            <div class="row">
              <div class="col-xl-7">
                <table class="table table-borderless">
                  <tr>
                    <th><%= f.label "投稿画像" %></th>
                    <td><%= f.file_field :post_image, accept: "image/*" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "タイトル" %></th>
                    <td><%= f.text_field :title, autofocus: true, placeholder: "タイトル" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "タグ" %></th>
                    <td><%= f.text_field :ramen_noodle_tags, placeholder: "タグ" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "説明" %></th>
                    <td><%= f.text_area :description, rows: '5', placeholder: "ここに説明文を入力してください" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "レシピ" %></th>
                    <td><%= f.text_area :recipe, rows: '5', placeholder: "ここにレシピを入力してください" %></td>
                  </tr>
                </table>
              </div>
              <div class="col-xl-5">
                <div class="row">
                  <div class="col-xl-12">
                    <h5><strong>評価</strong></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <strong><%= f.label :taste_rating, "味" %></strong>
                  </div>
                  <div class="col-xl-12">
                    <%= f.hidden_field :taste_rating, id: :average_taste_rating %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <strong><%= f.label :cook_time_rating, "調理時間" %></strong>
                  </div>
                  <div class="col-xl-12">
                    <%= f.hidden_field :cook_time_rating, id: :average_cook_time_rating %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <strong><%= f.label :process_rating, "工程数" %></strong>
                  </div>
                  <div class="col-xl-12">
                    <%= f.hidden_field :process_rating, id: :average_process_rating %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <strong><%= f.label :difficulty_rating, "難易度" %></strong>
                  </div>
                  <div class="col-xl-12">
                    <%= f.hidden_field :difficulty_rating, id: :average_difficulty_rating %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    ※投稿後、評価の変更は出来ません
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3"></div>
              <div class="col-xl-6">
                <%= f.submit "投稿", class: "btn btn-outline-warning" %>
              </div>
              <div class="col-xl-3"></div>
            </div>
          <% end %>  
        </div>
      </div>
    <!--</div>-->
  </div>
</div>