<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card w-100 my-5 shadow bg-body rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
              <%= image_tag(@ramen_noodle.member.get_profile_image(100, 100), class: "rounded-circle mr-2 img-fluid") %><%= @ramen_noodle.member.nickname %>
            </div>
            <div class="col-xl-4">
              <% if @ramen_noodle.member_id == current_member.id %>
                <%= link_to "投稿編集", edit_ramen_noodle_path, class: "btn btn-outline-warning" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <%= image_tag(@ramen_noodle.post_image, class: 'img-fluid', style: 'width: 100%; height: 60%; object-fit: cover;') %>
            </div>
            <div class="col-xl-8">
              <div class="row my-3">
                <div class="col-xl-6 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center">サイト表示名</div>
                <div class="col-xl-6 text-center">
                  <%= @ramen_noodle.member.nickname %>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-xl-6 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center">タグ</div>
                <div class="col-xl-6 text-center">
                  <% @ramen_noodle_tags.each do |tag| %>
                    <i class="fa-solid fa-tag"></i>
                    <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
                  <% end %>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-xl-3 text-center">
                  <% if @ramen_noodle.favorited_by?(current_member) %>
                    <p>
                      <%= link_to ramen_noodle_favorite_path(@ramen_noodle), method: :delete do %>
                        <i class="fa-solid fa-thumbs-up fa-2xl" style="color: #ff0000;"></i>
                      <% end %>
                      ：<%= @ramen_noodle.favorites.count %>
                    </p>
                    <% else %>
                    <p>
                      <%= link_to ramen_noodle_favorite_path(@ramen_noodle), method: :post do %>
                        <i class="fa-regular fa-thumbs-up fa-2xl" style="color: #ff0000;"></i>
                      <% end %>
                      ：<%= @ramen_noodle.favorites.count %>
                    </p>
                  <% end %>
                </div>
                <div class="col-xl-3">
                   <p><i class="fa-regular fa-comment fa-2xl" style="color: #ff0000;"></i>：<%= @ramen_noodle.ramen_noodle_comments.count %></p>
                </div>
                <div class="col-xl-6"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 mb-5 border-bottom border-dark text-center">
              <h5><strong>評価</strong></h5>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row">
            <div class="col-xl-6 text-center">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>味</strong></div>
              <div class="mt-2">
                <strong>1<span id="taste_rating" class="mx-3"></span>5</strong>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>調理時間</strong></div>
              <div class="mt-2">
                <strong>短<span id="cook_time_rating" class="mx-3"></span>長</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>工程数</strong></div>
              <div class="mt-2">
                <strong>少<span id="process_rating" class="mx-3"></span>多</strong>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>難易度</strong></div>
              <div class="mt-2">
                <strong>低<span id="difficulty_rating" class="mx-3"></span>高</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 text-center">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>説明</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 text-center">
              <%= @ramen_noodle.description %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>レシピ</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <%= @ramen_noodle.recipe %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <%= form_with model: [@ramen_noodle, @ramen_noodle_comment] do |f| %>
                <%= f.text_field :comment, rows: '5', placeholder: "コメントをここに入力してください", class: "shadow bg-body rounded" %><br>
                <%= f.submit "コメント投稿", class: "btn btn-outline-warning shadow bg-body rounded" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="col-xl-5 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>コメント一覧</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <% @ramen_noodle.ramen_noodle_comments.each do |ramen_noodle_comment| %>
                <div class="card w-100 my-5 shadow bg-body rounded">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-4">
                        <%= image_tag(ramen_noodle_comment.member.get_profile_image(50, 50), class: "rounded-circle mr-2 img-fluid") %><%= ramen_noodle_comment.member.nickname %>
                      </div>
                      <div class="col-xl-4"></div>
                      <div class="col-xl-4">
                        <% if ramen_noodle_comment.member == current_member %>
                          <%= link_to "コメント削除", ramen_noodle_ramen_noodle_comment_path(ramen_noodle_comment.ramen_noodle, ramen_noodle_comment), method: :delete %>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <%= ramen_noodle_comment.created_at.strftime('%Y/%m/%d') %><%= ramen_noodle_comment.comment %>
                      </div>  
                    </div>  
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#taste_rating');
    if (elem == null) return;
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= @ramen_noodle.taste_rating %>"
    };
    raty(elem, opt);
  });
  
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#cook_time_rating');
    if (elem == null) return;
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= @ramen_noodle.cook_time_rating %>"
    };
    raty(elem, opt);
  });
  
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#process_rating');
    if (elem == null) return;
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= @ramen_noodle.process_rating %>"
    };
    raty(elem, opt);
  });
  
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#difficulty_rating');
    if (elem == null) return;
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= @ramen_noodle.difficulty_rating %>"
    };
    raty(elem, opt);
  });
</script>