<%= image_tag("投稿詳細暖簾.svg", class: "img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 my-5 shadow bg-body rounded">
        <div class="card-body my-3">
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4 pb-5 text-center">
              <%= link_to member_path(@ramen_noodle.member) do %>
                <%= image_tag(@ramen_noodle.member.get_profile_image(100, 100), class: "rounded-circle border border-warning mr-2 img-fluid") %>
                <b><%= @ramen_noodle.member.nickname %></b>
              <% end %>
            </div>
            <div class="col-xl-4 pb-5 text-center">
              <% if member_signed_in? && @ramen_noodle.member_id == current_member.id %>
                <%= link_to "投稿編集", edit_ramen_noodle_path, class: "btn btn-outline-warning btn-lg mt-4 shadow bg-body rounded", style: "width: 175px;" %>
              <% end %>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-xl-6">
              <%= image_tag(@ramen_noodle.post_image, class: 'img-fluid', style: 'width: 100%; height: auto; object-fit: cover;') %>
            </div>
            <div class="col-xl-6 mt-4">
              <div class="row my-3">
                <div class="col-xl-4 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>タイトル</strong></div>
                <div class="col-xl-8 text-center mt-2">
                  <b><%= @ramen_noodle.title %></b>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-xl-4 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>タグ</strong></div>
                <div class="col-xl-8 text-center mt-2">
                  <% if @ramen_noodle_tags.present? %>
                    <% @ramen_noodle_tags.each do |tag| %>
                      <i class="fa-solid fa-tag"></i>
                      <b><%= link_to tag.name,search_path(content: tag.name, model: "tag", method: "perfect") %></b>
                    <% end %>
                  <% else %>
                    <p>この投稿にタグはありません</p>
                  <% end %>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-xl-4 bg-warning rounded-pill p-2 shadow bg-body-tertiary rounded text-center"><strong>投稿日</strong></div>
                <div class="col-xl-8 text-center mt-2">
                  <b><%= @ramen_noodle.created_at.strftime('%Y/%m/%d') %></b>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-xl-4 mt-2 text-center">
                  <div id="favorite_btn_<%= @ramen_noodle.id %>" class="d-inline-block mr-4">
                    <%= render "public/favorites/btn", ramen_noodle: @ramen_noodle %>
                  </div>
                  <div id="comment_counter" class="d-inline-block">
                    <%= render "public/ramen_noodle_comments/counter", ramen_noodle: @ramen_noodle %>
                  </div>
                </div>  
                <div class="col-xl-8"></div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 my-5 border-bottom border-dark text-center">
              <h3><strong>評価</strong></h3>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-5 mb-5">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>味</strong></div>
              <div class="mt-2 text-center">
                <h4><b>1<span id="taste_rating_show" class="mx-3"></span>5</b></h4>
              </div>
            </div>
            <div class="col-xl-5 mb-5">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>調理時間</strong></div>
              <div class="mt-2 text-center">
                <h4><b>長<span id="cook_time_rating_show" class="mx-3"></span>短</b></h4>
              </div>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row pb-5">
            <div class="col-xl-1"></div>
            <div class="col-xl-5 mb-5">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>工程数</strong></div>
              <div class="mt-2 text-center">
                <h4><b>多<span id="process_rating_show" class="mx-3"></span>少</b></h4>
              </div>
            </div>
            <div class="col-xl-5 mb-5">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>難易度</strong></div>
              <div class="mt-2 text-center">
                <h4><b>高<span id="difficulty_rating_show" class="mx-3"></span>低</b></h4>
              </div>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row mb-5">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>説明</strong></div>
              <%= simple_format @ramen_noodle.description %>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row mb-5 pt-5">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>レシピ</strong></div>
              <%= simple_format @ramen_noodle.recipe %>
            </div>
            <div class="col-xl-1"></div>
          </div>
          <div class="row mb-4 pt-5">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
              <div class="bg-warning rounded-pill p-2 mb-4 shadow bg-body-tertiary rounded text-center"><strong>コメント</strong></div>
              <%= form_with model: [@ramen_noodle, @ramen_noodle_comment], local: false do |f| %>
                <div class="form-group d-flex mb-5 mx-4">
                  <%= f.text_field :comment, rows: '5', placeholder: "コメントをここに入力してください(1~50文字以内)", class: "form-control shadow bg-body rounded", id: "comment_textarea" %>
                  <% if member_signed_in? %>
                    <%= f.submit "コメント投稿", class: "btn btn-outline-warning shadow bg-body rounded ml-2" %>
                  <% else %>
                    <%= link_to new_member_registration_path do %>
                      <%= f.submit "コメント投稿", class: "btn btn-outline-warning shadow bg-body rounded ml-2" %>
                    <% end %>
                  <% end %>  
                </div>
              <% end %>
              <div id="comment_index">
                <%= render 'public/ramen_noodles/comments', comments: @ramen_noodle.ramen_noodle_comments %>
              </div>
            </div>
            <div class="col-xl-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#taste_rating_show');
    if (elem == null) return;
    elem.innerHTML = ""
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[taste_rating]',
      score: "<%= @ramen_noodle.taste_rating %>"
    };
    raty(elem, opt);
  });

  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#cook_time_rating_show');
    if (elem == null) return;
    elem.innerHTML = ""
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[cook_time_rating]',
      score: "<%= @ramen_noodle.cook_time_rating %>"
    };
    raty(elem, opt);
  });

  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#process_rating_show');
    if (elem == null) return;
    elem.innerHTML = ""
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[process_rating]',
      score: "<%= @ramen_noodle.process_rating %>"
    };
    raty(elem, opt);
  });

  $(document).on('turbolinks:load', function() {
    var elem = document.querySelector('#difficulty_rating_show');
    if (elem == null) return;
    elem.innerHTML = ""
    var opt = {
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'ramen_noodle[difficulty_rating]',
      score: "<%= @ramen_noodle.difficulty_rating %>"
    };
    raty(elem, opt);
  });
</script>