<%= image_tag("会員情報編集暖簾.svg", class: "img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 px-5 my-5 shadow bg-body rounded">
        <div class="card-body mt-3">
          <%= form_with model: @member, url: member_registration_path, method: :patch do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>
            <table class="table table-borderless">
              <tr>
                <th><%= f.label "プロフィール画像", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.file_field :profile_image, accept: "image/*", class: "mt-2" %></td>
              </tr>
              <tr>
                <th><%= f.label "名前", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :name, autofocus: true, class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "ニックネーム", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :nickname, placeholder: "1~10文字以内", class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "ひとこと", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :comment, placeholder: "1~20文字以内", class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "メールアドレス", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td>
                  <%= f.email_field :email, autocomplete: "email", class: "form-control mt-1 shadow bg-body rounded" %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>現在、確認待ちのメールアドレス: <b><%= resource.unconfirmed_email %></b></p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>
                  <% if @minimum_password_length %>
                    <%= f.label "パスワード(#{@minimum_password_length} 文字以上)", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %>
                  <% end %>
                </th>
                <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上 (変更しない場合は、空白のままにしてください)", class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "パスワード(確認用)", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用", class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "現在のパスワード", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード (変更するには、現在のパスワードが必要です)", class: "form-control mt-1 shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <%= f.submit "編集内容を保存", class: "btn btn-outline-warning btn-lg shadow bg-body rounded", style: "width: 175px;" %>
                  <%= link_to "キャンセル", :back, class: "btn btn-outline-warning btn-lg mx-4 shadow bg-body rounded", style: "width: 175px;" %>
                  <%= link_to "退会", unsubscribe_path, class: "btn btn-outline-danger btn-lg shadow bg-body rounded", style: "width: 175px;" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>