<%= image_tag("新規会員登録暖簾.svg", alt: "暖簾画像", class: "screen_title img-fluid") %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-border card w-100 px-5 my-5 shadow bg-body rounded">
        <div class="card-body mt-3">
          <%= form_with model: @member, url: member_registration_path do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>
            <table class="table table-borderless">
              <tr>
                <th><%= f.label "プロフィール画像", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.file_field :profile_image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th><%= f.label "名前", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :name, autofocus: true, class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "ニックネーム", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :nickname, placeholder: "1~10文字以内", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "ひとこと", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.text_field :comment, placeholder: "1~20文字以内", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th><%= f.label "メールアドレス", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %></th>
                <td><%= f.email_field :email, autocomplete: "email", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th>
                  <% if @minimum_password_length %>
                    <%= f.label "パスワード(#{@minimum_password_length} 文字以上)", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %>
                  <% end %>
                </th>
                <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th>
                  <%= f.label "パスワード(確認用)", class: "form-title bg-warning rounded-pill p-2 shadow bg-body-tertiary text-center" %>
                </th>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用", class: "form-control shadow bg-body rounded" %></td>
              </tr>
              <tr>
                <th></th>
                <td><%= f.submit "会員登録", class: 'btn btn-outline-warning btn-lg shadow bg-body rounded' %></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>