<header class="shadow-sm border-bottom sticky-top bg-white">
  <nav class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand float-left" href="/"><%= image_tag("raamen_dojo_logo.png", size: "100x100", class: "img-fluid ml-3") %></a>
    <% if flash[:notice].present? %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <button class="navbar-toggler btn-danger" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <%= form_with url: "/search", method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "検索ワードを入力してください", style: "width: 280px; height: 40px" %>
            <%= f.select :model, options_for_select({"会員" => "member", "投稿" => "ramen_noodle", "タグ" => "tag"}) %>
            <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}) %>
            <%= f.submit "検索", class: "btn btn-outline-warning shadow bg-body rounded ml-1" %>
          <% end %>
        <% if member_signed_in? %>
          <li class="nav-item mx-2 my-2">
            <%= link_to '会員一覧', members_path, class: 'btn btn-secondary btn-block shadow bg-body rounded rounded-pill' %>
          </li>
          <li class="nav-item mx-2 my-2">
            <%= link_to '投稿一覧', ramen_noodles_path, class: 'btn btn-secondary btn-block shadow bg-body rounded rounded-pill' %>
          </li>
          <li class="nav-item mx-2 my-2">
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'btn btn-secondary btn-block shadow bg-body rounded rounded-pill' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>