<header class="shadow-sm border-bottom sticky-top bg-white">
  <nav class="navbar navbar-expand-xl navbar-light" style="justify-content: space-between;">
    <%= image_tag("らぁめん道場ロゴ.svg", class: "logo img-fluid ml-3") %>
    <% if flash[:notice].present? %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <button class="navbar-toggler btn-danger" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <div class="collapse navbar-collapse mb-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto justify-content-end my-3">
          <% if admin_signed_in? %>
            <li class="nav-item mx-2 my-2">
              <%= link_to 'トップページ', admin_root_path, class: 'btn btn-secondary', style: 'width: 120px; height: auto;' %>
            </li>
            <li class="nav-item mx-2 my-2">
              <%= link_to '会員一覧', admin_members_path, class: 'btn btn-secondary', style: 'width: 120px; height: auto;' %>
            </li>
            <li class="nav-item mx-2 my-2">
              <%= link_to '投稿一覧', admin_ramen_noodles_path, class: 'btn btn-secondary', style: 'width: 120px; height: auto;' %>
            </li>
            <li class="nav-item mx-2 my-2">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-secondary', style: 'width: 120px; height: auto;' %>
            </li>
          <% else %>
            <li class="nav-item mx-2 my-2">
              <%= link_to '会員側トップページ', root_path, class: 'btn btn-secondary', style: 'width: 180px; height: auto;' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <% if admin_signed_in? %>
          <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
            <ul class="navbar-nav ml-auto justify-content-end my-3">
              <li>
                <%= f.text_field :content, placeholder: "検索ワードを入力してください", style: "width: 280px; height: 40px", class: "form-control shadow bg-body rounded" %>
              </li>
              <li>
                <%= f.select :model, options_for_select({"会員" => "member", "投稿" => "ramen_noodle", "タグ" => "tag"}), {}, { class: "form-control shadow bg-body rounded ml-1", style: "width: 78px; height: 40px" } %>
              </li>
              <li>
                <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}), {}, { class: "form-control shadow bg-body rounded ml-1", style: "width: 110px; height: 40px" } %>
              </li>
              <li>
                <%= f.submit "検索", class: "btn btn-outline-warning shadow bg-body rounded ml-1" %>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>